.toptitle {
    font-size: 50px;
    text-align: center;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: blue;
}

a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: cornflowerblue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.mmurl {
    text-decoration: none;
    color: white;
    float: right;
}

.mmurl:hover {
    text-decoration: underline;
    color: black;
}

.mmurl:visited {
    text-decoration: none;
    color: white;
}
